@(boxx: List[boxes.Box])(implicit flash: Flash)

@main("Welcome to Hydra Box") {
    @if(general.Config.password == "") {
        <div class="row">
            <div class="span10 offset1 well">
                <div class="alert alert-error">
                    You have not entered your password so the host file cannot be modified.
                </div>
                @helper.form(action = routes.Application.setPassword, 'class -> "form-inline") {
                    
                    <label for="password">Password: </labe>
                    <input type="password" name="password">
                    <input type="submit" name="submit" class="btn">
                    
                }
            </div>
        </div>
    }
    <div class="row">
        @for(box <- boxx) {    
            <div class="well span12">
                <span class="status pull-right">
                    @if(box.running) {
                        <i class="icon-play huge"></i><br>
                        <div class="state">Running</div>
                        @if(box.isInstanceOf[boxes.Vagrant]) {
                            <a href="/stop/@box.name"><i class="icon-power-off"></i></a>&nbsp;&nbsp;<a href="/pause/@box.name"><i class="icon-moon"></i></a>&nbsp;&nbsp;<a href="/restart/@box.name"><i class="icon-undo"></i></a>
                        } else {
	    				   <a href="/stop/@box.name"><i class="icon-power-off"></i></a>&nbsp;&nbsp;<a href="/restart/@box.name"><i class="icon-undo"></i></a>
                        }
                    } else {
                        <i class="icon-power-off huge"></i><br>
                        <div class="state">Stopped</div>
                        <a href="/start/@box.name"><i class="icon-play"></i></a>
                    }
                </span>
                @if(box.running) {
                    <h2><a href="http://@box.url/" target="_blank">@box.name</a></h2>
                } else {
                    <h2>@box.name</h2>
                }
                @if(box.isInstanceOf[boxes.Vagrant]) {
                    <h3>Located At: @box.path</h3>
                    Virtual Box Id: @box.asInstanceOf[boxes.Vagrant].id
                }
                <hr>
                <h3><a href="javascript:$('#Readme@box.name').toggle()">Readme</a></h3>
                <span id="Readme@box.name" class="hide">
                    @Html(box.readme)
                </span>
            </div>
        }
    </div>
}
